<% if @orders.empty? %>
You have no orders yet
<% else %>
  <% @orders.each do |order| %>
    <%= tag.div id: "order-#{order.id}" do %>
      <p><%= link_to "Order ID #{order.id}", profile_order_path(order) %></p>
      <p>Created: <%= order.created_at %></p>
      <p>Last Update: <%= order.last_update %></p>
      <p>Status: <%= order.status %></p>
      <p>Item Count: <%= order.total_item_count %></p>
      <p>Total Cost: <%= order.total_cost %></p>
    <% end %>
  <% end %>
<% end %>