<%= tag.div id: "order-#{@order.id}" do %>
  <p>Order ID <%= @order.id %></p>
  <p>Created: <%= @order.created_at %></p>
  <p>Last Update: <%= @order.last_update %></p>
  <p>Status: <%= @order.status %></p>
  <% if @order.status == 'pending' %>
  <p><%= button_to 'Cancel Order', profile_order_path(@order), method: :delete %></p>
  <% end %>

  <% @order.order_items.each do |oitem| %>
    <%= tag.div id: "oitem-#{oitem.id}" do %>
      <%= render partial: "order_item", locals: {oitem: oitem, img_width: 150} %>
    <% end %>
  <% end %>

  <p>Item Count: <%= @order.total_item_count %></p>
  <p>Total Cost: <%= @order.total_cost %></p>
<% end %>