<h2>Merchants</h2>

<table>
  <thead>
    <tr>
      <th>Name, Location</th>
      <th>Registration</th>
      <% if current_admin? %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
<% @merchants.each do |merchant| %>
  <%= tag.tr id: "merchant-#{merchant.id}" do %>
  <td>
    <% if current_admin? %><%= link_to merchant.name, admin_merchant_path(merchant) %><% else %><%= merchant.name %><% end %>,
    <%= merchant.city %> <%= merchant.state %></td>
  <td>Registered: <%= merchant.created_at %></td>
  <% if current_admin? %>
  <td>
      <% if merchant.active? %>
      <%= button_to 'Disable', admin_merchant_disable_path(merchant), method: :patch %>
      <% else %>
      <%= button_to 'Enable', admin_merchant_enable_path(merchant), method: :patch %>
      <% end %>
    <% end %>
  </td>
  <% end %>
<% end %>

</tbody>
</table>

<hr>

<%= tag.div id: "statistics" do %>
  <%= tag.div id: "top-3-revenue-merchants" do %>
    <h4>Top 3 Merchants by Revenue</h4>
    <ol>
    <% @top_3_revenue_merchants.each do |merchant| %>
    <%= tag.li class: 'merchant' do %>
    <%= merchant.name %>, Revenue: <%= number_to_currency(merchant.revenue) %>
    <% end %>
    <% end unless @top_3_revenue_merchants.nil? %>
    </ol>
  <% end %>

  <%= tag.div id: "top-3-fulfilling-merchants" do %>
    <h4>Top 3 Fastest Fulfilling Merchants</h4>
    <ol>
    <% @top_3_fulfilling_merchants.each do |merchant| %>
    <%= tag.li class: 'merchant' do %>
    <%= merchant.name %>, Average Fulfillment Time: <%= fulfillment_time(merchant.avg_fulfillment_time) %>
    <% end %>
    <% end unless @top_3_fulfilling_merchants.nil? %>
    </ol>
  <% end %>

  <%= tag.div id: "bottom-3-fulfilling-merchants" do %>
    <h4>Top 3 Slowest Fulfilling Merchants</h4>
    <ol>
    <% @bottom_3_fulfilling_merchants.each do |merchant| %>
    <%= tag.li class: 'merchant' do %>
    <%= merchant.name %>, Average Fulfillment Time: <%= fulfillment_time(merchant.avg_fulfillment_time) %>
    <% end %>
    <% end unless @bottom_3_fulfilling_merchants.nil? %>
    </ol>
  <% end %>

  <%= tag.div id: "top-3-states-shipped" do %>
    <h4>Top 3 States where Orders Ship</h4>
    <ol>
    <% @top_3_states.each do |order| %>
    <%= tag.li class: 'state' do %>
    <%= order.state %>, <%= pluralize(order.order_count, 'order') %>
    <% end %>
    <% end unless @top_3_states.nil? %>
    </ol>
  <% end %>

  <%= tag.div id: "top-3-cities-shipped" do %>
    <h4>Top 3 Cities where Orders Ship</h4>
    <ol>
    <% @top_3_cities.each do |order| %>
    <%= tag.li class: 'city' do %>
    <%= order.city %> <%= order.state %>, <%= pluralize(order.order_count, 'order') %>
    <% end %>
    <% end unless @top_3_cities.nil? %>
    </ol>
  <% end %>

  <%= tag.div id: "top-3-quantity-orders" do %>
    <h4>Top 3 Orders with Most Item Quantity</h4>
    <ol>
    <% @top_3_quantity_orders.each do |order| %>
    <%= tag.li class: 'order' do %>
    <%= order.user_name %> bought <%= order.total_quantity %> items in one order
    <% end %>
    <% end unless @top_3_quantity_orders.nil? %>
    </ol>
  <% end %>
<% end %>
