<h2>Merchants</h2>

<% @merchants.each do |merchant| %>
  <%= tag.div id: "merchant-#{merchant.id}" do %>
  <p>
    <% if current_admin? %><%= link_to merchant.name, admin_merchant_path(merchant) %><% else %><%= merchant.name %><% end %>,
    <%= merchant.city %> <%= merchant.state %><br/>
    Registered: <%= merchant.created_at %>
    <% if current_admin? %>
    <br/>
      <% if merchant.active? %>
      <%= button_to 'Disable', admin_merchant_disable_path(merchant) %>
      <% else %>
      <%= button_to 'Enable', admin_merchant_enable_path(merchant) %>
      <% end %>
    <% end %>
  </p>
  <% end %>
<% end %>