<h2>Merchant Dashboard for <%= @merchant.name %></h2>

<%= tag.div class: 'profile' do %>
  <p><%= @merchant.email %></p>
  <%= tag.div id: 'address' do %>
    <p><%= @merchant.address %><br/>
    <%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>
  <% end %>
<% end %>

<% if current_admin? %>
<%= link_to 'My Items', admin_merchant_items_path(@merchant) %>
<% else %>
<%= link_to 'My Items', dashboard_items_path %>
<% end %>

<% if current_admin? %>
<%= button_to "Downgrade to User", admin_merchant_downgrade_path(@merchant), method: :patch %>
<% end %>

<%= tag.div id: 'orders' do %>
  <% if @orders.empty? %>
    You don't have any pending orders to fulfill
  <% else %>
    <ul>
      <% @orders.each do |order| %>
        <%= tag.li id: "order-#{order.id}" do %>
          <%= render partial: "order_card", locals: {order: order} %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= tag.div id: 'statistics' do %>
  <%= tag.div id: 'top-5-items' do %>
    <h4>Top 5 items sold by quantity</h4>
    <ol>
    <% @top_5_items.each do |item| %>
    <%= tag.li class: 'item' do %>
    <%= item.name %>, quantity sold: <%= item.quantity_sold %>
    <% end %>
    <% end %>
    </ol>
  <% end %>

  <%= tag.div id: 'quantity-sold' do %>
    <h4>Items Shipped as Percentage of Inventory</h4>
    <p>You have sold <%= @qsp[:sold] %> items out of <%= @qsp[:total] %> (<%= @qsp[:percentage] %>%)</p>
  <% end %>

  <%= tag.div id: 'top-3-states' do %>
    <h4>Top 3 States where Items were Shipped</h4>
    <ol>
    <% @top_3_states.each do |order| %>
    <%= tag.li class: 'state' do %>
    <%= order.state %>, quantity shipped: <%= order.quantity_shipped %>
    <% end %>
    <% end %>
    </ol>
  <% end %>

  <%= tag.div id: 'top-3-cities' do %>
    <h4>Top 3 Cities where Items were Shipped</h4>
    <ol>
    <% @top_3_cities.each do |order| %>
    <%= tag.li class: 'city' do %>
    <%= order.city %>, <%= order.state %>, quantity shipped: <%= order.quantity_shipped %>
    <% end %>
    <% end %>
    </ol>
  <% end %>

  <%= tag.div id: 'most-ordering-user' do %>
    <h4>User with most orders</h4>
    <% if @most_ordering_user.nil? %>
    <p>You don't have any orders yet</p>
    <% else %>
    <p><%= @most_ordering_user.name %>, with <%= @most_ordering_user.order_count %> orders</p>
    <% end %>
  <% end %>

  <%= tag.div id: 'most-items-user' do %>
    <h4>User with most items bought</h4>
    <% if @most_items_user.nil? %>
    <p>You don't have any orders yet</p>
    <% else %>
    <p><%= @most_items_user.name %>, with <%= @most_items_user.item_count %> items</p>
    <% end %>
  <% end %>

  <%= tag.div id: 'top-3-revenue-users' do %>
    <h4>Top 3 Users by Revenue</h4>
    <ol>
    <% @top_3_revenue_users.each do |user| %>
    <%= tag.li class: 'user' do %>
    <%= user.name %>, revenue: <%= number_to_currency(user.revenue) %>
    <% end %>
    <% end %>
    </ol>
  <% end %>
<% end %>