<a href="<%= item_path(item) %>">
<img id="item-<%= item.id %>-image" alt="image for <%= item.name %>" src="<%= item.image %>" width="<%= img_width %>%" />
</a>

<%= link_to item.name, item_path(item) %>
<p>Price: <%= number_to_currency(item.price) %></p>
<p>
  <strong>Sold by:</strong> <%= item.user.name %><br/>
  <strong>In stock:</strong> <%= item.inventory %>
</p>
