<h2>Regular Users</h2>

<% @users.each do |user| %>
  <%= tag.div id: "user-#{user.id}" do %>
  <p><%= link_to user.name, admin_user_path(user) %><br/>
  Registered: <%= user.created_at %>
  <% if user.active? %>
  <%= button_to 'Disable', admin_user_disable_path(user) %>
  <% else %>
  <%= button_to 'Enable', admin_user_enable_path(user) %>
  <% end %>
  <% end %>
<% end %>