<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Items', items_path %></li>
    <li><%= link_to 'Merchants', merchants_path %></li>
    <li><%= link_to 'Cart', cart_path %></li>
    <li><%= link_to 'Log in', login_path %></li>
    <li><%= link_to 'Register', registration_path %></li>
  </ul>
</nav>
