<!DOCTYPE html>
<html>
  <head>
    <title>LittleShopBaseSmall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/nav' %>

    <div class="container" id="body-content-no-nav">
      <% flash.each do |flash_type, flash_message| %>
      <div class="alert alert-<%= flash_type %>" role="alert"><%= flash_message %></div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
